{%- for _ in range(1, name|length+1) %}={%- endfor -%}
{{ '\n' ~ name ~ '\n' }}
{%- for _ in range(1, name|length+1) %}={%- endfor -%}

{{- '\n\n\n' -}}

.. image:: https://img.shields.io/badge/flattr-donate-red.svg
    :alt: Donate via flattr
    :target: {{ extra.flattr }}

.. image:: https://img.shields.io/gratipay/{{ extra.gratipay }}.svg
    :alt: Donate via Gratipay
    :target: https://www.gratipay.com/{{ extra.gratipay }}/

.. image:: https://img.shields.io/badge/license-{{ license|replace('-', '--') }}-blue.svg
    :alt: {{ license }}-licensed
    :target: {{ source }}/blob/master/LICENSE

.. image:: https://img.shields.io/badge/gitter-chat-brightgreen.svg
    :alt: Join Chat
    :target: https://gitter.im/{{ source|replace('https://github.com/', '') }}?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge

{{ summary }}

.. contents::
    :backlinks: none
    :local:

{{- '\n\n\n' -}}

Instructions
------------

Please refer to https://github.com/bechtoldt/formula-docs to learn how to use
this formula, how it is built and how you can add your changes.

{%- if extra.notice|length > 0 -%}
{{- '\n\n' -}}

  {%- for entry in extra.notice|default([]) %}
**NOTICE:** {{ entry|safe -}}
  {%- endfor -%}
{%- endif -%}


{%- if compatibility is not none -%}
{{- '\n\n\n' -}}
Compatibility
-------------

See <TODO> file to see which Salt versions and operating systems are supported.
{%- endif -%}


{%- if dependencies is not none -%}
{{- '\n\n\n' -}}
Dependencies
------------

None
{%- endif -%}

{{- '\n\n\n' -}}

Contributing
------------

Contributions are welcome! All development guidelines we ask you to follow can
be found at https://github.com/bechtoldt/formula-docs.

In general:

1. Fork this repo on Github
2. Add changes, test them, update docs (README.rst) if possible
3. Submit your pull request (PR) on Github, wait for feedback

But it’s better to `file an issue <{{ source }}/issues/new>`_ with your idea first.

{{- '\n\n\n' -}}

TODO
----
{% for entry in todo %}
* {{ entry|safe }}
{%- endfor -%}

{%- if authors|length > 0 -%}
{{- '\n\n\n' -}}

Authors
-------
{% for entry in authors %}
* {{ entry|safe }}
{%- endfor -%}
{%- endif -%}

{{- '\n\n\n' -}}
Miscellaneous
-------------

{% if 'recommended_formulas' in extra -%}
Recommended formulas:
{% for entry in extra.recommended_formulas|default({}) %}
* {{ entry.descr }}: `{{ entry.name }} <{{ entry.url }}>`_
{%- endfor -%}
{%- endif -%}


{%- if 'further_reading' in extra -%}
{{- '\n\n' -}}
Further reading:
{% for entry in extra.further_reading|default({}) %}
* {{ entry }}
{%- endfor -%}
{%- endif -%}


{%- if 'asciinema' in extra -%}
{{- '\n\n' -}}
.. image:: {{ extra.asciinema.link }}.png
    :target: {{ extra.asciinema.link }}
{%- endif -%}
